@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
//Background gradient:
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
// Text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
// Dividers
$divider: hsl(240, 51%, 40%);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
html {
  background: linear-gradient(180deg, $soft-violet, $soft-blue) no-repeat;
  height: 100vh;
}

.container {
  width: 800px;
  margin: 5rem auto;
  background: #fff url(../img/bg-pattern-desktop.svg) no-repeat;
  background-size: cover;
  padding: 4rem 4rem 4rem 0;
  border-radius: 10px;
  position: relative;
  .img-mb {
    display: none;
  }
  .row {
    display: flex;
    .col {
      width: 50%;
    }
  }
}

.col1 {
  position: relative;
  overflow: hidden;

  .img1 {
    width: 100%;
    height: auto;
    transform: translateX(-4rem);
  }
}
.col2 {
  padding-left: 3rem;
  .q__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:target .ans {
      max-height: 20vh;
    }
    &:target a {
      font-weight: 700;
    }
    &:target .icon {
      img {
        transform: rotate(180deg);
      }
    }
  }
  h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  a {
    text-decoration: none;
    color: $very-dark-grayish-blue;
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    align-items: center;
    transition: 0.2s;
    &:hover {
      color: $soft-red;
    }
  }
  .ans {
    // display: none;
    max-height: 0;
    overflow: hidden;
    color: $dark-grayish-blue;
    transition: 350ms;
    p {
      font-size: 11.5px;
      padding: 0 2rem 1rem 0;
    }
  }
  .icon {
    padding: 1rem;
    img {
      width: 12px;
      transition: 0.5s;
    }
  }
}
.img2 {
  position: absolute;
  left: -11%;
  top: 43%;
  z-index: 1;
  width: 12rem;
}

// MOBILE

@media (max-width: 500px) {
  .container {
    margin: 12rem auto;
    width: 85%;
    padding: 13rem 3rem 3rem 3rem;
    background-position: center top;
    background-size: 50%;
    background-image: url(../img/bg-pattern-mobile.svg);
    .img-mb {
      display: block;
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(45%) translateY(10%) scale(90%);
    }
    .row {
      flex-direction: column;
      .img2 {
        display: none;
      }
      .col {
        width: 100%;
        .img1 {
          display: none;
        }
      }
      .col2 {
        padding-left: 0;
        h1 {
          text-align: center;
        }
      }
    }
  }
}
